Options +SymLinksIfOwnerMatch 

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
</IfModule>
