<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FlitsFiets dashboard</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script
          src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
          integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
          crossorigin="anonymous"></script>
  <script>
    $( function() {
      $( "#datepicker" ).datepicker({
        numberOfMonths: 3,
        showCurrentAtPos: 1,
        changeMonth: true,
        defaultDate: new Date("{{ day }}")
      }).datepicker('setDate', new Date("{{ day }}")).datepicker("option", "dateFormat","yy-mm-dd");
    } );
  </script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style type="text/css" id="grid">
    .container {
      max-width: 1044px;
      margin: 0px auto;
    }
    .row {
      margin: 20px;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div class="container">
    <h1>Flitsfiets registraties</h1>
    <a href="/editor">edit settings</a>
    <p class="row">TOON:
      <a href="#" class="red" onclick="$('td.green').parent().hide();$('td.orange').parent().hide();$('td.red').parent().show();return false;">ROOD</a>
      <a href="#" class="orange" onclick="$('td.green').parent().hide();$('td.orange').parent().show();$('td.red').parent().hide();">ORANJE</a>
      <a href="#" class="green" onclick="$('td.green').parent().show();$('td.orange').parent().hide();$('td.red').parent().hide();">GROEN</a>
      <a href="#" onclick="$('td.green').parent().show();$('td.orange').parent().show();$('td.red').parent().show();">ALLES</a>
    </p>
    <div id="Graph">

    </div>
    <form action="/dash/" method="get" id="daySelector">
      <p>Pick a date: <input value="{{ day }}" type="text" name="day" id="datepicker" onchange="$('#daySelector').submit();"></p>
    </form>

    <!-- RESULTS TABLE -->
    <table id="resultstable">
      <!-- Table Header -->
      <thead>
      <tr>
        <th>SPEED</th>
        <th>RADARNAME</th>
        <th>TIME</th>
        <th>STREET</th>
        <th>DIRECTION</th>
        <th>LON</th>
        <th>LAT</th>
        <th>RADAR</th>

      </tr>
      </thead>
      <!-- Table Header -->
      {% for row in rows %}
      <tr>
        <td class="{{ row.COLOR }}">{{ row.SPEED|e }}</td>
        <td class="{{ row.COLOR }}">{{ row.RADARNAME|e }}</td>
        <td class="{{ row.COLOR }}" title="{{ row.TIME }}">{{ row.FORMATTEDTIME|e }} <span class='date'>{{ row.DATE }}</span></td>
        <td class="{{ row.COLOR }}">{{ row.STREET|e }}</td>
        <td class="{{ row.COLOR }}">{{ row.DIRECTION|e }}</td>
        <td class="{{ row.COLOR }}">{{ row.LON|e }}</td>
        <td class="{{ row.COLOR }}">{{ row.LAT|e }}</td>
        <td class="{{ row.COLOR }}">{{ row.RADAR|e }}</td>
      </tr>
      {% endfor %}

    </table>
    <!-- END RESULTS TABLE -->

  </div>
  <script type="text/javascript">
    {{ plotly|raw }}

    // https://plot.ly/javascript/bar-charts/
    var data = [
      {
        x: ['-30', '30-40', '40-50', '50-70','70+'],
        y: yValue,
        type: 'bar',
        text: yValue.map(String),
        textposition: 'auto'
      }
    ];

    Plotly.newPlot('Graph', data);
  </script>
</body>
</html>